<%= render layout: '/shared/widget', locals: { title: (link_to @recipe.title, @recipe) } do %>

  <dl class='dl-horizontal'>
    <dt>Title:</dt>
    <dd><%= @recipe.title %></dd>

    <dt>Body:</dt>
    <dd><%= @recipe.body %></dd>
  </dl>

  <div class='form-group'>

    <%= link_to recipes_path, class: 'btn btn-default' do %>
      <span class='glyphicon glyphicon-info-sign'></span>
      Back
    <% end %>

    <%= link_to edit_recipe_path, class: 'btn btn-primary' do %>
      <span class='glyphicon glyphicon-list-alt'></span>
      Edit
    <% end %>

  </div>

<% end %>
